body{
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    overflow: overlay;
    height: 100%;
    width: 100%;
    text-shadow: 1px 1px 2px #48484A;
    background-color: black;
}

.error{
    color: white;
    text-shadow: none;
    text-align: center;
    position: relative;
    top: 30%;
}
.error-icon{
    width: 50px;
    height: 50px;
    filter: invert(1);
    position: absolute;
    margin: 0 auto;
    top: -55px;
    left: 0;
    right: 0;
}

.loading{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
}

#background{
    /*background-image: url('../../assets/images/Thunderstorm.jpg');*/  
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

#filter{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.45;
}
.d{
    background-color: lightskyblue;
}
.n{
    background-color: #000125;
}

.Thunderstorm{
    background-image: url('../../assets/gifs/Thunderstorm.webp');
}
.Clear{
    background-image: url('../../assets/gifs/Clear.gif');
}
.Clouds{
    background-image: url('../../assets/gifs/Clouds.gif');
}
.Drizzle{
    background-image: url('../../assets/gifs/Drizzle.gif');
}
.Rain{
    background-image: url('../../assets/gifs/Rain.webp');
}
.Snow{
    background-image: url('../../assets/gifs/Snow.webp');
}

.container {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.main{
    margin-top: 2.5em;
}

.icon {
    float: left;
    text-align: right;
    width: 50%;
}
.icon img{
    width: 100px;
}
.icon p{
    margin-left: auto;
    text-align: center;
    margin-top: -34px;
    margin-right: 4px;
    width: 95px;
}

.date {
    float: right;
    text-align: left;    
    width: 50%;
}
.date #day{
    margin: 0;
    margin-top: 34px;    
    font-weight: bold;
    font-size: 30px;
}
.date #date{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.clearfix {
    clear: both;
    float: none;
}

.info{

}
.info #temp{
    font-size: 100px;
    margin: 0;
}
.info #degrees{
    font-size: 40px;
    position: relative;
    top: -35px;
    cursor: pointer;
}
.info #feels{
    font-size: 20px;
    margin: 0px;
    position: relative;
    top: -10px;
}
.info #location{
    font-size: 40px;
    margin: 20px;
}

.property{
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 1px;
    width: 90%;
}

.icons{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 7px;
    filter: invert(1) drop-shadow(1px 1px 2px #48484A);
}

#humidity img{
    margin-right: 4px;
}
#wind img{    
}
#pressure img{
}
#visibility img{
    opacity: 0.9;
    margin-right: 5px;
}

.value{    
    font-weight: bold;
}

.daily-forecast{
    margin: 0 auto;
    margin-top: 40px;
    width: 370px;
}
.daily-forecast #title{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.day-property{
    width: 13.2%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin: 10px 1px;
    padding: 1px 1px;
    float: left;
    overflow: hidden;
    /*filter: drop-shadow(0px 0px 1px whitesmoke);*/
}
.day-property:hover{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.day-property img{
    margin: -12px;
    width: 145%;
    filter: drop-shadow(0px 0px 4px whitesmoke);
}
.day-property p{
    font-size: small;
}

.hourly-forecast{    
    margin: 0 auto;
    margin: 40px 20px 20px 0;
}
.hourly-forecast #title{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.hour-property{
    background-color: rgba(255, 255, 255, 0.2);    
    border-radius: 4px;
    margin: 10px 1px;
    padding: 10px 1px;   
    float: left;
}
.hour-property img{
    width: 40px;
}
.hour-property p{
    font-size: small;
}
